.home-link {
  //not sure why, but doesn't work if not nested, maybe bcs text "Home" isn't affected
  .home-icon {
    color: black;
    display: "flex";
    align-items: "center";
    flex-wrap: "wrap";
    font-size: 17px;
  }
}
