li {
  margin-right: 30px;

  display: inline;
}

.Greeter {
  position: absolute;
  top: 20px;
}

.App {
  /* background-color: #8b9ab8; */
  font-family: "Gochi Hand", cursive;
  min-height: 125vh;
  display: flex;
  text-align: center;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: top; */
  font-size: calc(10px + 2vmin);
  /* color: rgb(112, 61, 61); */
}

body {
  font-family: "Gochi Hand", cursive;
}
